
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(images/bg2.jpg);
    font-size: 14px;
    color: #151515;
}
.header{
    text-align: center;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    padding-top: 80px;
    text-shadow: 3px 3px white;
}

.container{
    max-width: 1500px; 
    margin: 0 auto; 
    padding: 12px;
}
.navbar{
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #fff;
    padding-block: 15px; 
}
.navbar a{
    text-decoration: none;
    color: inherit;}
.logo{
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px; }
.gmbar1{
    text-align: center;
    padding-top: 50px;
}
.gmbar1 img{
    width: 850px;
    border-radius: 8px;
}
.gmbar1-t{
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 150px;
}
.gmbar2{
    text-align: center;
    padding-top: 50px;
}
.gmbar2 img{
    width: 850px;
    border-radius: 8px;
}
.gmbar2-t{
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 150px;
}
.gmbar3{
    text-align: center;
    padding-top: 50px;
}
.gmbar3 img{
    width: 850px;
    border-radius: 8px;
}
.gmbar3-t{
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 150px;
}
.title{
    text-align: center;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px white;
}
